<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body onclick="inicio();">
  <div>
    <h1>GitHub empleos</h1>
    <div class="todo-new">
      
      <div>
          <!--Lista de seleccion de pais-->
          <select id="pais">
            <option selected="yes">Escoga un pais</option>
            <option value="usa">usa</option>
            <option value="new york">new york</option>
            <option value="india">india</option>
            <option value="canada">canada</option>
          
        </select>
      </div>
      
      <div>
           <!--Lista de seleccion de especialidad-->
           <select id="especialidad">
            <option selected="yes">Escoga una especialidad</option>
            <option value="python">python</option>
            <option value="javascript">javascript</option>
            <option value="php">php</option>
            <option value="java">java</option>
        </select>
      </div>
      <div>
        <button id="button-add-new">Buscar</button>
      </div>
    </div>
  </div>
    <h1>Listado de trabajos</h1>
    <section id="jobs_container">
      <article class="container_grid">
        <div class="location_label"> 
          <h3>Localidad</h3>
        </div>
        <div class="company_label">
          <h3>Compañia</h3>
        </div>
        <div class="type_label">
          <h3>Tipo</h3>
        </div>
        <div class="location">-</div>
        <div class="company">-</div>
        <div class="type">-</div>
        <div class="descripcion_label">
            <h3>Descripcion</h3>
        </div>
        <div class="descripcion">

        </div>
      </article>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
    <script src="/actions/jobs.js"></script>
</body>
</html>